body{
    font-family: sans-serif;
    
}
.parent{
    display: flex;
    justify-content: space-between;
    margin: 0 50px;
    background-color: #47321a ;
    color: white;
    font-size:large;
    
}
ul,li{
    display: flex;
    padding: 0 10px;
}
.logo{
    padding: 13px 10px;
}
.logo:hover{
    background-color: #897141;
    color: #37230a;
    border-radius: 20px;
    
}
.home:hover{
    background-color: #897141;
    color: #37230a;
    border-radius: 20px;
}
.about:hover{
    background-color: #897141;
    color: #37230a;
    border-radius: 20px;
}
.menu:hover{
    background-color: #897141;
    color: #37230a;
    border-radius: 20px;
}
.brand:hover{
    background-color: #897141;
    color: #37230a;
    border-radius: 20px;
}
.gallery:hover{
    background-color: #897141;
    color: #37230a;
    border-radius: 20px;
}
.contact:hover{
    background-color: #897141;
    color: #37230a;
    border-radius: 20px;
}
.parent1{
    padding: 70px 0px;
    background-color: #47321a;
    margin: 50px;
   
}

.heroimg{
    float: right;
    padding-right: 100px;

}

.h1{
    font-weight: bold;
    font-size: 50px;
    color: #897141;
}
.h2{
    font-weight: bold;
    font-size: 50px;
    color: white;
}
.h3{
    font-size:medium;
    font-weight: 100;
    color: white;
}
.heropara{
   padding: 250px;
}
button{
    background-color: #37230a;
    color: white;
    border: white solid 2px;
    border-radius: 20px;
    margin: 10px;
    padding: 10px;

}
button:hover{
    background-color: #897141;
    color: #37230a;
    border-color: #897141;
}
.Aboutus{
    padding: 50px 50px;
    height: auto;
}
.aboutusimg{
    float: left;
    background-color: #47321a;
    padding: 50px 400px
}
.aboutuspara{
    text-align: center;
    background-color: #47321a;
    padding: 150px;
    color: white;
}
.Aboutush1{
    text-decoration:#897141 underline 5px;
} 

.Menu{
    background-color: #37230a;
    padding: 50px 50px;
    margin: 50px;
    color: white;
}
.menuh1{
    text-align: center;
    
}
.menulist{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.menuimg{
    padding: 0 70px;
    margin: 35px;   
}
.menupara{
    text-align: center;
    font-size: 25px;   
} 
.menuunderline{
    width: 100px;
    height: 5px;
    margin: 2px;
    border-radius: 10px;
    background-color: #897141;
    margin-left: 48%;

}
.Brand{
    margin: 0 50px;

}
.brandpara{
    text-align: center;
}
.brandimg{
    opacity: 50%;
    padding: 0 30px;
    margin: 0 50px;

}
.barndunderline{
    width: 150px;
    height: 5px;
    margin: 10px;
    border-radius: 10px;
    background-color: #897141;
    margin-left: 47%;
}
