body{
    font-family: sans-serif;
}
.parent{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    background-color: #47321a ;
    color: white;
}
ul,li{
    display: flex;
    padding: 0 10px;
}
.logo{
    padding: 13px 10px;
}
img{
    width: 400px;
    float:right ;
}